@font-face {
  font-family: 'SouthAfrica';
  src: url('./fuentes/south africa/south afirkas 2100.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SouthAfrica', sans-serif;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #630000, #a10000); /* degradado original */
  background-attachment: fixed;
  position: relative; /* necesario para el pseudo-elemento */
}

body::before {
  content: "";
  position: fixed;       /* queda fijo mientras se hace scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./imagenes/fondo-de-gradiente-abstracto-con-un-efecto-granulado.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;          /* ajusta la opacidad deseada */
  z-index: -1;            /* detr치s del contenido */
}


header {
  font-family: 'SouthAfrica', sans-serif;
}

.red-gradient {
  background: linear-gradient(90deg, #840000,#a00000, #a00000, #f27777) !important;
}

.container-fluid.grey-gradient {
  position: relative;
  overflow: hidden;
  background: none; /* eliminamos fondo del contenedor */
}

.container-fluid.grey-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* gradiente encima + imagen de fondo con opacidad */
  background-image: 
    linear-gradient(90deg, rgba(212,212,212,0.85), rgba(170,170,170,0.85), rgba(229,229,229,0.85)),
    url('./imagenes/fondo-de-gradiente-abstracto-con-un-efecto-granulado.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1; /* queda detr치s del contenido */
}
.red {
  color: #630000;
}

.greylogo {
  color: #d4d4d4;
}

.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.logo-mundial {
  height: 80px;
}

@media (min-width: 768px) {
  .logo-mundial {
    height: 100px;
  }
}

#headerCarousel {
  max-width: 200px;
  margin: 0 auto;
}

#headerCarousel img {
  border-radius: 30px;
  height: 100px;
  margin: 0px;
  object-fit: cover;
}

#headerCarousel .carousel-item img {
  height: 90px;
  object-fit: contain;
  width: 100%;
}

@media (min-width: 768px) {
  #headerCarousel .carousel-item img {
    height: auto;
    object-fit: initial;
  }
}

@media (max-width: 767.98px) {
  #headerCarousel .carousel-control-prev,
  #headerCarousel .carousel-control-next {
    display: none;
  }
}

.navbar-nav .nav-link.greylogo {
  color: #d4d4d4;
  transition: transform 0.2s ease-in-out;
}

.navbar-nav .nav-link.greylogo:hover,
.navbar-nav .nav-link.greylogo:focus {
  transform: scale(1.1);
  color: #bebebe;
}

#partidos .accordion-item {
  border-color: #dee2e6;
}

#partidos .accordion-button {
  background-color: #700000;
  color: #d4d4d4;
  font-weight: normal;
}

#partidos .accordion-button:not(.collapsed) {
  background-color: #60000a;
  color: #d4d4d4;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

#partidos .accordion-body {
  background-color: white;
  padding: 1rem 1.25rem;
}

#partidos .nav-tabs .nav-link {
  color: #60000a;
  border-color: #d4d4d4 #d4d4d4 #d4d4d4;
}

#partidos .nav-tabs .nav-link.active,
#partidos .nav-tabs .nav-item.show .nav-link,
#partidos .nav-tabs .nav-link:hover {
  color: white;
  background-color: #680000;
  border-color: #60000a #60000a #60000a;
}

#partidos .list-group-item span.badge.bg-danger {
  background-color: #680000!important;
  color: white !important;
}

.verdeclaro {
  background-color: #630000;
}

#clasificacion table thead th {
  background-color: #630000;
  color: #d4d4d4;
}

#clasificacion .table-striped > tbody > tr:nth-child(odd) > * {
  background-color: #9e0000;
  color: #d4d4d4
}

#clasificacion .table-striped > tbody > tr:nth-child(even) > * {
  background-color: #630000;
  color: #d4d4d4
}

#clasificacion .table-hover > tbody > tr:hover > * {
  text-shadow: 0 2px 8px rgba(255, 255, 255, 0.6);
  color:#ffffff
}

#datos .row > div > div {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

#datos .row > div > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #680000ec;
  border-radius: inherit;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

#datos .row > div > div > * {
  position: relative;
  z-index: 2;
}

#datos .row .col-lg-4 > div h4,
#datos .row .col-lg-4 > div li {
  transition: text-shadow 0.3s ease-in-out;
}

#datos .row .col-lg-4 > div:hover {
  transform: scale(1.03);
}

#datos .row .col-lg-4 > div:hover::before {
  background-color: rgba(112, 0, 0, 0.81);
}

#datos .row .col-lg-4 > div:hover h4 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

#datos .row .col-lg-4 > div:hover li {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
}

.card-goals {
  background-image: url('./imagenes/AWARDS/Muller1.png');
}

.card-asists {
  background-image: url('./imagenes/AWARDS/kaka.png');
}

.card-clean {
  background-image: url('./imagenes/AWARDS/casillas.png');
}

.card-pases {
  background-image: url('./imagenes/AWARDS/xavi.png');
}

.card-ga {
  background-image: url('./imagenes/AWARDS/muller2.png');
}

.card-awards {
  background-image: url('./imagenes/AWARDS/premios.png');
}

#selecciones .row > div > div {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

#selecciones .row > div > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #680000ec;
  border-radius: inherit;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
}

#selecciones .row > div > div > * {
  position: relative;
  z-index: 2;
}

#selecciones .row .col-lg-4 > div h4,
#selecciones .row .col-lg-4 > div li {
  transition: text-shadow 0.3s ease-in-out;
}

#selecciones .row .col-lg-4 > div:hover {
  transform: scale(1.03);
}

#selecciones .row .col-lg-4 > div:hover::before {
  background-color: rgba(112, 0, 0, 0.81);
}

#selecciones .row .col-lg-4 > div:hover h4 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

#selecciones .row .col-lg-4 > div:hover li {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
}

.card-europe {
  background-image: url('./imagenes/EUROPA.png');
}

.card-america {
  background-image: url('./imagenes/AMERICA.png');
}

.card-africa {
  background-image: url('./imagenes/AFRICA.png');
}

.card-asia {
  background-image: url('./imagenes/ASIA.png');
}

.card-oceania {
  background-image: url('./imagenes/OCEANIA.png');
}

#jabulani-ball {
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
  transition: filter 0.3s ease-in-out;
}

#jabulani-ball:hover {
  filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.4));
}

.fifa-blue {
  position: relative;
  overflow: hidden;
  background: none; /* eliminamos fondo s칩lido */
}

.fifa-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* gradiente azul encima + misma imagen de fondo */
  background-image: 
    linear-gradient(180deg, rgba(2,18,44,0.95), rgba(2,18,44,0.95)),
    url('./imagenes/espiral-suave-curvas-luz-monocromaticas-ruido-fondo-abstracto-textura-granulada-gris-oscuro_976983-412.avif');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1; /* queda detr치s del contenido */
}

#fifa .row img {
  transition: all 0.3s ease-in-out;
}

#fifa .row img:hover {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.25);
  transform: scale(1.03);
}